* {
  margin: 0;
  padding: 0;
}
header {
  border-bottom: #222 solid 8px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  /* min-height: 2000px; */
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
h1 {
  font-size: 60px;
  margin-bottom: 1rem;
}
p {
  margin: 0.5rem 0;
  line-height: 1.5rem;
  font-size: 18px;
}
.break {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 24px;
}
img {
  width: 15%;
  height: 10%;
}
.top {
  position: relative;
  color: black;
  margin-bottom: -3em;
}
.top a {
  padding-top: 1.4rem;
  float: right;
  padding-right: 1.5rem;
}
.top img {
  position: relative;
  padding-left: 0.5rem;
  max-height: 75px;
  min-width: 160px;
}
.showcase {
  /* background: url("Resources/Background.jpg") center/cover; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("Resources/Background.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}
#language-top {
  margin-top: 1.4rem;
  border-radius: 4px;
  border: white 0.8px solid;
  background-color: transparent;
  color: white;
  padding: 0.4rem 0.8rem;
  float: right;
  position: relative;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
.button-sign {
  cursor: pointer;
  background-color: #e50914;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  width: auto;
  box-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.45);
  transition: 0.5s;
  margin-right: 1rem;
  font-size: 16px;
  padding: 0.4rem 1.2rem;
  margin-top: -0.1em;
  margin-top: 0.1px;
}
.button-sign:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.content {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* search and get started button */
.search {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search input {
  background-color: white;
  outline: none;
  border: none;
  font-size: 22px;
  padding: 0px 10px 0 0;
  text-indent: 12px;
  width: 600px;
  height: 60px;
  align-items: center;
}
.button-gs {
  cursor: pointer;
  background: #e50914;
  border: none;
  color: white;
  border-radius: 0 2px 2px 0;
  border-color: white;
  padding: 16px 1rem;
  padding-top: 16.6px;
  padding-bottom: 16.2px;
  width: auto;
  box-shadow: 0 0.1px 0 rgba(0, 0, 0, 0.45);
  transition: 0.5s;
  font-size: 24px;
}
.button-gs:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* search and get started button end */
.content form {
  margin-bottom: 1em;
}
#card-0 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border-bottom: #222 solid 8px;
  padding: 60px;
  margin-top: -5em;
}
#card-0 .desc,
#card-2 .desc {
  padding-left: 8em;
  left: 25%;
}

.desc p {
  font-size: 24px;
  line-height: 1.2em;
  margin-top: 0.5em;
}
.desc h1 {
  font-size: 40px;
}
/* #tv_container {
  width: 550px;
  height: 480px;
  position: relative;
  padding-bottom: 4em;
  margin-top: 4em;
  margin-left: 10em;
  padding-right: 6em;
}
#tv_container:after {
  content: "";
  display: block;
  background: url("/Resources/tv.png") no-repeat top left transparent;
  background-size: contain;
  padding: 260px;
}
#tv_container video {
  position: absolute;
  top: 86px;
  left: 46px;
  z-index: -1;
  width: 518px;
  height: 260px;
} */
#tv_container {
  width: 600px;
  height: 300px;
  position: relative;
  top: 10%;
  padding-bottom: 10em;
}
#tv_container::after {
  content: "";
  display: block;
  /* background: url("Resources/tv.png") no-repeat top transparent; */
  background-image: url("Resources/tv.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  padding: 210px;
  padding-right: 8em;
}
#tv_container video {
  position: absolute;
  /* Adjust top position */
  top: 45px;
  /* Adjust left position */
  left: 94px;
  width: 449.3px;
  height: 337.68px;
  background-size: contain;
  z-index: -100;
  overflow: hidden;
}
#card-1 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border-bottom: #222 solid 8px;
  padding: 0px 0;
}
figure {
  display: inline-block;
  /* adjust as needed */
  margin: 5px 190px;
}
figure img {
  margin-bottom: -100px;
  margin: 0 -100px;
  padding: 0 20px;
}
.floatleft {
  float: left;
  padding-left: 105px;
  padding-top: 5px;
  width: 57.14px;
  height: 80px;
}
.floatright {
  float: right;
  padding-right: 110px;
  padding-top: 22px;
}
figure figcaption {
  text-align: justify;
  background-color: black;
  border: 2px solid #333;
  border-radius: 8px;
  text-indent: 50px;
  line-height: 90px;
  height: 90px;
  position: relative;
  top: -120px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}
.text-blue {
  color: blue;
}
#card-1 .img-mobile {
  z-index: -1;
  width: 100%;
  width: 505px;
  height: 379px;
}
#card-2 {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: #222 solid 8px;
  align-items: center;
  /* padding: 60px; */
}
#device-pile {
  width: 600px;
  height: 300px;
  position: relative;
  top: 10%;
  padding-bottom: 10em;
}
#device-pile::after {
  content: "";
  display: block;
  /* background: url("Resources/device-pile-id.png") no-repeat top transparent; */
  background-image: url("Resources/device-pile-id.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding: 210px;
  padding-right: 8em;
}
#device-pile video {
  position: absolute;
  /* Adjust top position */
  top: 50px;
  /* Adjust left position */
  left: 118px;
  width: 349.3px;
  height: 197.68px;
  background-size: contain;
  z-index: -100;
  overflow: hidden;
}
#card-3 {
  display: grid;
  grid-template-columns: 50% 42%;
  border-bottom: #222 solid 8px;
  align-items: center;
}
#card-3 img {
  /* margin-left: 100px; */
  padding: 80px 0;
}

#faq {
  border-bottom: #222 solid 8px;
}
#faq h1 {
  text-align: center;
  padding: 25px 0;
  padding-top: 50px;
}
.dropdown {
  align-items: center;
  /* Make list on specific wide */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab {
  cursor: pointer;
  background: #303030;
  padding: 20px 30px;
  padding-right: 340px;
  /* Make all box the same size */
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.tab-par {
  display: none;
  background: #303030;
  padding: 20px 30px;
  text-align: left;
  line-height: 30px;
  max-width: 660.73px;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: -4px;
}
.desc-bot {
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
#faq .search {
  margin-bottom: 4rem;
}
footer {
  color: #757575;
  margin: 0 10px;
  padding-top: 1em;
}
footer p {
  font-size: 1em;
  padding: 1em 0 0.5em 0;
}
footer ul li {
  margin: 5px 50px;
  font-size: 13px;
}
footer ul li a {
  color: inherit;
  font-size: inherit;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer p {
  justify-content: center;
  align-content: center;
  position: static;
}
/* .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.row {
  display: flex;
  flex-direction: column;
} */
.flex-container ul {
  display: table;
  margin: 0 auto;
  width: 800px;
  padding-left: 10em;
  position: static;
}
.flex-container ul li {
  float: left;
  margin: 8px 10px;
  width: 150px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#language-bot {
  color: #999;
  border-radius: 4px;
  border: white 0.8px solid;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0 0;
}
#netflix-bot {
  font-size: 13px;
}
@media (max-width: 1290px) {
  #card-0,
  #card-1,
  #card-2,
  #card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #card-1,
  #card-3 {
    flex-direction: column-reverse;
  }
  #card-0 {
    padding-bottom: 10em;
    padding-top: 5em;
    padding-right: 0;
    padding-left: 0;
  }
  #tv_container::after {
    padding-right: 0;
  }
  #card-0 .desc,
  #card-1 .desc,
  #card-2 .desc,
  #card-3 .desc {
    padding-top: 2em;
    padding-left: 0em;
    left: 0%;
    text-align: center;
    justify-content: center;
  }
  .desc h1 {
    font-size: 2.5rem;
  }
  .desc p {
    font-size: 1.3rem;
  }
  #tv_container {
    position: relative;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
  }
  #card-3 img {
    margin-left: 0;
    padding: 0;
  }
  br {
    display: none;
  }
  #card-1 span br {
    display: inline-block;
  }
  .search input {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .flex-container ul {
    display: table;
    margin: 0 auto;
    width: 70%;
    /* padding-left: 20%; */
    position: static;
  }
  .flex-container ul li {
    float: left;
    margin: 8px 10px;
    width: 150px;
  }
}
@media (max-width: 768px) {
  .break {
    font-size: 24px;
    text-indent: 0px;
    line-height: 28px;
    font-size: 24px;
  }
  #tv_container {
    width: 340px;
    height: 175px;
    /* height: auto; */
    position: relative;
    top: 10%;
  }
  #tv_container video {
    width: 250px;
    height: 180px;
    position: absolute;
    /* Adjust top position */
    top: 32px;
    /* Adjust left position */
    left: 45px;
  }
  #device-pile {
    width: 320px;
    position: relative;
    top: 10%;
    margin-bottom: -9em;
  }
  #device-pile video {
    top: -20px;
    left: 64px;
    width: 210px;
    height: 197.68px;
  }
  .flex-container ul {
    display: table;
    margin: 0 auto;
    width: 70%;
    padding-left: 20%;
    position: static;
  }
  .flex-container ul li {
    float: left;
    margin: 8px 10px;
    width: 150px;
  }
}
@media (max-width: 740px) {
  .tab {
    padding: 20px 30px;
    font-size: 1.7rem;
  }
  .tab-par {
    padding: 20px 20px;
    font-size: 1.2rem;
    max-width: 370.73px;
  }
  #card-1 .img-mobile {
    z-index: -1;
    width: 100%;
    width: 300px;
    height: 250px;
  }
  .floatleft {
    float: left;
    padding-left: 105px;
    padding-top: 5px;
  }
  .floatright {
    float: right;
    padding-right: 110px;
    padding-top: 22px;
  }
  figure figcaption {
    text-align: justify;
    background-color: black;
    border: 2px solid #333;
    border-radius: 8px;
    text-indent: -20px;
    line-height: 90px;
    height: 90px;
    width: 250px;
    position: relative;
    top: -120px;
  }
  span {
    display: inline-block;
    text-indent: 100px;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  #card-1 .img-mobile {
    z-index: -1;
    width: 100%;
    width: 250px;
    height: 230px;
  }
  figure figcaption {
    text-align: justify;
    background-color: black;
    border: 2px solid #333;
    border-radius: 8px;
    text-indent: -20px;
    line-height: 90px;
    height: 90px;
    width: 250px;
    position: relative;
    left: -95%;
    top: -120px;
    margin-right: -200em;
  }
  .search {
    flex-direction: column;
  }
  .search input {
    margin-bottom: 0.5em;
  }
  .button-gs {
    border-radius: 2px;
  }
  #faq h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .floatleft {
    float: left;
    padding-left: 105px;
    padding-top: 5px;
  }
  .floatright {
    float: right;
    padding-right: 110px;
    padding-top: 22px;
  }
  figure figcaption {
    text-align: justify;
    background-color: black;
    border: 2px solid #333;
    border-radius: 8px;
    text-indent: -20px;
    line-height: 90px;
    height: 90px;
    width: 250px;
    position: relative;
    left: -95%;
    top: -120px;
    padding-right: -200em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
  }
}
@media (max-width: 535px) {
  .content h1 {
    font-size: 40px;
  }
  .floatleft {
    width: 5px;
    width: 50.14px;
    height: 60px;
    margin-top: 0.1em;
  }
  .floatright {
    margin-top: -0.65em;
  }
  #card-1 .img-mobile {
    z-index: -1;
    width: 80%;
    width: 230px;
    height: 60%;
  }
  figure figcaption {
    text-align: justify;
    background-color: black;
    border: 2px solid #333;
    border-radius: 8px;
    text-indent: -20px;
    line-height: 65px;
    height: 70px;
    width: 250px;
    position: relative;
    left: -140%;
    top: -100px;
    padding-right: -200em;
  }
  #language-bot {
    color: #999;
    border-radius: 4px;
    border: white 0.8px solid;
    background-color: transparent;
    padding: 0.4rem 0rem;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 0 0;
  }
  #language-top {
    margin-top: 1.4rem;
    border-radius: 4px;
    border: white 0.8px solid;
    background-color: transparent;
    color: white;
    padding: 0.4rem 0rem;
    position: relative;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .top img {
    position: relative;
    padding-left: 0.5rem;
    padding-top: 1rem;
    max-height: 75px;
    min-width: 100px;
  }
  .button-sign {
    margin-right: -1rem;
    padding: 0.4rem 0.4rem;
  }
  .flex-container ul {
    display: table;
    margin: 0 auto;
    width: 70%;
    padding-left: 10%;
    position: static;
  }
  .flex-container ul li {
    float: left;
    margin: 8px 10px;
    width: 130px;
  }
  #card-3 .media img {
    max-width: 400px;
    max-height: 250px;
  }
}
@media (max-width: 455px) {
  .floatleft {
    width: 5px;
    width: 50.14px;
    height: 60px;
    margin-top: 0.1em;
  }
  .floatright {
    margin-top: -0.8em;
    margin-right: 5px;
    padding-right: 0px;
    padding-top: 22px;
  }
  #card-1 div figure {
    margin: 5px 100px;
  }
  #card-1 .img-mobile {
    z-index: -1;
    width: 200px;
    height: 60%;
    padding: -20em;
  }
  figure figcaption {
    height: 70px;
    width: 240px;
    position: relative;
    left: -7em;
    top: -90px;
  }
  footer {
    margin-left: -140px;
    padding-right: -20em;
  }
  .flex-container ul {
    margin: 0 auto;
    width: 320px;
    padding-left: 10em;
    position: static;
  }
  .flex-container ul li {
    float: left;
    margin: 8px 10px;
    width: 130px;
  }
  .footer-p,
  #language-bot {
    margin-left: 9.5em;
  }
  #language-bot {
    position: relative;
    left: 26.5%;
  }
  #netflix-bot {
    margin-left: 11.5em;
  }
}
@media (max-width: 420px) {
  #card-3 .media img {
    max-width: 300px;
    max-height: 200px;
  }
}
@media (max-width: 420px) {
  .tab {
    padding: 20px 15px;
    font-size: 1.2rem;
  }
  .tab-par {
    padding: 20px 15px;
    font-size: 1.2rem;
    max-width: 247.73px;
  }
  #language-bot {
    position: relative;
    left: 150px;
  }
}
@media (max-width: 376px) {
  #language-bot {
    position: relative;
    left: 150px;
  }
}
@media (max-width: 340px) {
  .flex-container ul {
    display: table;
    margin: 0 auto;
    width: 65%;
    /* padding-left: 20%; */
    position: static;
  }
  .flex-container ul li {
    float: left;
    margin: 8px 0px;
    width: 135px;
  }
  #language-bot {
    position: relative;
    left: 150px;
  }
}
